body {
    background-image:url("test.jpg");
    /*background-repeat:no-repeat;*/
    background-size:auto;
    background-attachment:fixed;
}

p.registerheader {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

p.submit {
    text-align: center;
    padding-top: 0px;
}

table {
    width:77%;
    margin-left:23%;
}

tr {
    border-style:none;
    /*border-width:thin;*/
}

td {
    color: white;
}

tablep {
    border:solid;
}